body {
  font-family: "Biotic";
}

#tentang{
  font-family: "Biotic";
  font-weight: bold;
}

#deskripsi{
  font-family: "Biotic";
  font-weight: 600;
}

.pilihan-paket{
  font-family: "Biotic";
  font-weight: 600;
}

.judul-paket, .pilihan-paket{
  font-family: "Biotic";
  font-weight: bold;
}



@font-face {
  font-family: "Biotic";
  src: url("../font/Biotic-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Biotic";
  src: url("../font/Biotic-RegularItalic.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Biotic";
  src: url("../font/Biotic-Extralight.otf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Biotic";
  src: url("../font/Biotic-LightItalic.otf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Biotic";
  src: url("../font/Biotic-Light.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Biotic";
  src: url("../font/Biotic-ExtralightItalic.otf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Biotic";
  src: url("../font/Biotic-MediumItalic.otf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Biotic";
  src: url("../font/Biotic-Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Biotic";
  src: url("../font/Biotic-SemiboldItalic.otf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Biotic";
  src: url("../font/Biotic-Thin.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Biotic";
  src: url("../font/Biotic-Semibold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Biotic";
  src: url("../font/Biotic-ThinItalic.otf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
