.w-66 {
    width: 66% !important;
  }
  
  .w-34 {
    width: 34% !important;
  }
  
  .w-33 {
    width: 33% !important;
  }
  
  .edu {
    color: white;
}

div#content-2-container, #materi-container {
    margin-left: 3rem;
    margin-right: 3rem;
}

div#video-container {
    width: 70%;
}

div#bab_materi {
    width: 27%;
    height: 530px;
    overflow-y: auto;
    margin-left: 15px;
    margin-top: 75px;
}

.truncate {
    white-space:normal !important;
    word-wrap:break-word;
}

.border-10 {
    border-radius: 10px;
}

.border-10 {
    border-radius: 10px;
}

.border-20 {
    border-radius: 20px;
}

.border-30 {
    border-radius: 30px;
}

.border-50 {
    border-radius: 50px;
}

.mnya-5 {
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .mt5 {
    margin-top: 35px;
  }

  .mb5 {
      margin-bottom: 35px;
  }

  .px5 {
      padding-left: 35px;
      padding-right: 35px;
  }

  .py5 {
      padding-top: 35px;
      padding-bottom: 35px;
  }
  
  .w50 {
    width: 50%;
  }
  
  .w25 {
    width: 25%;
  }

  .w25-2 {
      width: 25%;
  }
  
  .w100 {
    width: 58.3333333%;
  }

  .absolute-fixed {
    position: absolute;
  }
  
  @media screen and (max-width: 768px) {
    .absolute-fixed {
      position: fixed;
    }
  }

/* @media (max-width:768px) {
    div#video-container {
        width: 100%;
    }
    
    div#content-2-container, #materi-container {
        margin-left: 5px;
        margin-right: 5px;
    }

    div#video_materi {
        margin-left: 0;
    }

    div#bab_materi {
        position: relative;
        float: left;
        width: 100%;
        height: 300px;
        overflow-y: auto;
        margin-left: 0;
        margin-top: 20px;
    }

    div.bab {
        width: 90%;
    }

    span#judul_materi {
        font-size: xx-large;
    }

    a.bagian {
        font-size: small;
    }

    .judul {
        font-size: 50px;
    }
  
    .subjudul {
        font-size: 14px;
    }
  
    .fs-24 {
      font-size: 24px;
    }
  
    .fs-18 {
        font-size: 18px;
    }
  
    .fs-16 {
        font-size: 16px;
    }
  
    .fs-12 {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .judul {
        font-size: 30px;
      }

      .mnya-5 {
        margin-left: 5px;
        margin-right: 5px;
      }
  
    .w50 {
        width: 100%;
        padding-bottom: 10px;
      }
    
      .w25 {
        width: 100%;
        margin-bottom: 10px;
      }

      .w25-2 {
          width: 50%;
      }
  
    .mt5 {
        margin-top: 5px;
    }
  
    .pb5 {
        margin-bottom: 30px;
    }

    .disappearing {
        display: none;
    }
  } */