.mnya-5 {
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .mt5 {
    margin-top: 15px;
  }
  
  .w50 {
    width: 50%;
  }
  
  .w25 {
    width: 25%;
  }
  
  .w100 {
    width: 58.3333333%;
  }

@media screen and (max-width: 768px) {
    .judul {
        font-size: 50px;
    }
  
    .subjudul {
        font-size: 14px;
    }
  
    .fs-24 {
      font-size: 24px;
    }
  
    .fs-18 {
        font-size: 18px;
    }
  
    .fs-16 {
        font-size: 16px;
    }
  
    .fs-12 {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .mnya-5 {
        margin-left: 5px;
        margin-right: 5px;
    }
  
    .disappearing {
        display: none;
    }
  }
  
  @media (max-width: 550px) {
    .judul {
        font-size: 30px;
      }
  
    .w50 {
        width: 100%;
        padding-bottom: 10px;
      }
    
      .w25 {
        width: 100%;
        margin-bottom: 10px;
      }
  
    .mt5 {
        margin-top: 5px;
    }
  
    .pb5 {
        padding-bottom: 25px;
    }
  }