.w-66 {
  width: 66% !important;
}

.w-34 {
  width: 34% !important;
}

.w-33 {
  width: 33% !important;
}

.mnya-5 {
  margin-left: 25px;
  margin-right: 25px;
}

.mt5 {
  margin-top: 35px;
}

.mb5 {
  margin-bottom: 35px;
}

.px5 {
  padding-left: 35px;
  padding-right: 35px;
}

.py5 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.border-10 {
  border-radius: 10px;
}

.border-20 {
  border-radius: 20px;
}

.border-10 {
  border-radius: 10px;
}

.border-30 {
  border-radius: 30px;
}

.border-50 {
    border-radius: 50px;
}

.w50 {
  width: 50%;
}

.w25 {
  width: 25%;
}

.w100 {
  width: 58.3333333%;
}

.w25-2 {
  width: 25%;
}

.w70 {
width: 70%;
}

.w30 {
width: 30%;
}

.pl3 {
padding-left: 1rem;
padding-right: 0;
}

.nomor-to {
  max-height: 250px;
  overflow-y: auto;
}

.nomor-skd {
  overflow-y: auto;
}

.nomor {
display:inline-block !important; 
float: none !important;
}

.hsoal {
  height: 230px;
}

.absolute-fixed {
  position: absolute;
}

@media screen and (max-width: 768px) {
.w70 {
  width: 100%;
}

.w30 {
  width: 100% !important;
  margin-top: 2rem !important;
}

.pl3 {
  padding-left: 0;
  padding-right: 1rem;
}

.nomor-to {
    max-height: 65px !important;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    white-space: nowrap !important;
}

.nomor-skd {
  max-height: 65px !important;
  overflow-x: scroll !important;
  overflow-y: hidden !important;
  white-space: nowrap !important;
}

.nomor {
    display:inline-block !important; 
    float: none !important;
}

.hsoal {
    height: 500px !important;
}

.absolute-fixed {
    position: fixed !important;
}
}