.w-66 {
  width: 66% !important;
}

.w-34 {
  width: 34% !important;
}

.w-33 {
  width: 33% !important;
}

.gambar {
  max-width: 20em;
}

.mnya-5 {
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .mt5 {
    margin-top: 35px;
  }

  .mb5 {
    margin-bottom: 35px;
  }

  .px5 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .py5 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  
  .border-20 {
    border-radius: 20px;
  }

  .border-10 {
    border-radius: 10px;
  }
  
  .border-30 {
    border-radius: 30px;
  }

  .border-50 {
      border-radius: 50px;
  }

  .w50 {
    width: 50%;
  }
  
  .w25 {
    width: 25%;
  }

  .w75 {
    width: 75%;
  }
  
  .w100 {
    width: 58.3333333%;
  }

@media (max-width: 768px) {
    #bagian_atas {
        display: none;
    }

    .judul {
        font-size: 50px;
    }
  
    .subjudul {
        font-size: 14px;
    }
  
    .fs-24 {
      font-size: 24px;
    }
  
    .fs-18 {
        font-size: 18px;
    }
  
    .fs-16 {
        font-size: 16px;
    }
  
    .fs-12 {
        font-size: 12px;
    }
}

@media (max-width: 550px) {
  .gambar {
    max-width: 10em;
  }

  .mnya-5 {
    margin-right: 5px;
    margin-left: 5px;
  }

  .judul {
        font-size: 30px;
      }
  
    .w50 {
        width: 100%;
        padding-bottom: 10px;
      }
    
      .w25 {
        width: 100%;
        margin-bottom: 10px;
      }
  
      .w75 {
        width: 90%;
      }

    .mt5 {
        margin-top: 5px;
    }
  
    .pb5 {
        margin-bottom: 25px;
    }

    .disappearing {
      display: none;
    }
  }