.edu {
  color: white;
}
.btn {
  border-radius: 100px;
}
.header-paket {
  border-radius: 0px 0px 5px 5px;
}
ul {
  list-style-type: circle;
}
.premium p,
.premium h5,
.premium a {
  color: white;
}

#menu_tengah {
  border-radius: 0 50px 0 0;
}

.mnya-3 {
  margin-right: 5px;
  margin-left: 5px;
}

.mnya-5 {
  margin-left: 25px;
  margin-right: 25px;
}

.w50 {
  width: 50%;
}

.w25 {
  width: 25%;
}

.w100 {
  width: 58.3333333%;
}

.kelas-samping {
  width: 27.5%;
}

.kelas-tengah {
  width: 35%;
}

.mt5 {
  margin-top: 25px;
}

#pilihanPaket {
  display: none;
}

.fs-15 {
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .judul {
    font-size: 50px;
  }

  .subjudul {
    font-size: 14px;
  }

  #tengah {
    margin-right: 0;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #menu_tengah {
    border-radius: 10px;
  }

  #gambar_hp {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .panah {
    font-size: 24px;
    margin-top: 25px;
  }

  .kartu {
    width: 13rem;
  }

  .mnya-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .paket {
    font-size: 25px;
  }

  .ceklis {
    font-size: 12px;
  }

  .daftar-paket {
    font-size: 14px;
  }

  .mt5 {
    margin-top: 0;
  }

  .fs-24 {
    font-size: 24px;
  }

  .fs-18 {
    font-size: 18px;
  }

  .fs-16 {
    font-size: 16px;
  }

  .fs-12 {
    font-size: 12px;
  }

  .w50 {
    width: 90%;
  }

  .disappearing {
    margin-top: 50px;
  }

  .kelas-samping {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .kelas-tengah {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .mnya-5 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .w50 {
    width: 100%;
  }

  .disappearing {
    display: none;
  }

  .w100 {
    width: 100%;
  }

  .kelas-tengah {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .mnya-5 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .judul {
    font-size: 30px;
  }

  .w50 {
    width: 100%;
  }

  .w25 {
    width: 100%;
    margin-bottom: 10px;
  }

  .disappearing {
    display: none;
  }

  .w100 {
    width: 100%;
  }

  .kelas-tengah {
    width: 100%;
  }

  #pilihanPaket {
    padding-bottom: 100px;
  }
}
