.w-66 {
  width: 66% !important;
}

.w-34 {
  width: 34% !important;
}

.w-33 {
  width: 33% !important;
}

.edu {
  color: white;
}

.border-20 {
  border-radius: 20px;
}

.border-10 {
  border-radius: 10px;
}

.border-30 {
  border-radius: 30px;
}

.border-50 {
    border-radius: 50px;
}

.btn {
  border-radius: 100px;
}

.header-paket {
  border-radius: 0px 0px 5px 5px;
}

ul {
  list-style-type: circle;
}
.premium p,
.premium h5,
.premium a {
  color: white;
}

.px5 {
  padding-left: 35px;
  padding-right: 35px;
}

.pt5 {
  padding-top: 35px;
}

#menu_tengah {
  border-radius: 0 50px 0 0;
}

.mnya-3 {
  margin-right: 5px;
  margin-left: 5px;
}

.mnya-5 {
  margin-left: 25px;
  margin-right: 25px;
}

.my5 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.w50 {
  width: 50%;
}

.w50-2 {
  width: 50%;
}

.w25 {
  width: 25%;
}

.w25-2 {
  width: 25%;
}

.w100 {
  width: 58.3333333%;
}

.kelas-tengah {
  width: 40%;
  z-index: 2000;
}

.w40 {
  width: 40%;
}

.mt5 {
  margin-top: 35px;
}

.py5 {
  padding-top: 35px;
  padding-bottom: 35px;
}

#paketan {
  display: none;
}

#dapet {
  display: none;
}

.fs-15 {
  font-size: 13px;
}

.gambar-tengah {
  background-size: 100%; 
  background-repeat: no-repeat; 
  width: 100vw; 
  margin-left: -40px;
}

.col7 {
  width: 58.33333%;
}

.col5 {
  width: 41.66666%;
}

.col11 {
  width: 91.66666%;
}

.col1 {
  width: 8.33333%;
}

.absolute-fixed {
  position: absolute;
}

@media screen and (max-width: 768px) {
  .absolute-fixed {
    position: fixed;
  }
}

/* @media  (max-width: 1000px) {
  .mt5 {
    margin-top: 15px !important;
  }

  #section3 .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  #section3 .row .w-100 {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .card-footer {
    padding: 5px;
    padding-top: 17px !important;
  }

  .card-footer p {
    margin-bottom: 5px !important;
  }

  #section4 .row {
    padding-bottom: 0 !important;
  }

  .testi-items {
    width: 50% !important;
    margin-top: 15px;
  }
}

@media screen and (max-width: 768px) {
  .judul {
    font-size: 50px;
  }

  .subjudul {
    font-size: 14px;
  }

  #tengah {
    margin-right: 0;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #menu_tengah {
    border-radius: 10px;
  }

  #gambar_hp {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .panah {
    font-size: 24px;
    margin-top: 25px;
  }

  .kartu {
    width: 13rem;
  }

  .mnya-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .paket {
    font-size: 25px;
  }

  .ceklis {
    font-size: 12px;
  }

  .daftar-paket {
    font-size: 14px;
  }

  .mt5 {
    margin-top: 5px;
  }

  .fs-24 {
    font-size: 24px;
  }

  .fs-18 {
    font-size: 18px;
  }

  .fs-16 {
    font-size: 16px;
  }

  .fs-12 {
    font-size: 12px;
  }

  .w50 {
    width: 90%;
  }

  .disappearing {
    margin-top: 50px;
  }

  .kelas-samping {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .kelas-tengah {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .mnya-5 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .w50 {
    width: 100%;
  }

  .disappearing {
    display: none;
  }

  .w100 {
    width: 100%;
  }

  .kelas-tengah {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .mnya-5 {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }

  .py5 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  .px5 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  nav .row div.w-75 {
    width: 100% !important;
  }

  .navbar-nav .w-66, .w-34{
    width: 100% !important;
    display: block !important;
    text-align: right;
  }

  .judul {
    font-size: 30px !important;
  }

  #section0 .row .w-50 {
    width: 100% !important;
  }

  #imgsection0 {
    display: none;
  }

  .fs-12 {
    font-size: 16px !important;
  }

  #section0 .row .w-50 div.w-100 a.btn {
    margin-top: 5px;
    margin-left: 0 !important;
  }
}

/* @media (max-width: 500px) { */
  /* .mnya-5 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .py5 {
    padding-top: 5px;
    padding-bottom: 0;
  }

  .judul {
    font-size: 30px;
  }

  .w50 {
    width: 100%;
    padding-bottom: 10px;
  }

  .w50-2 {
    width: 90%;
  }

  .w25 {
    width: 100%;
    margin-bottom: 10px;
  }

  .disappearing {
    display: none;
  }

  .w100 {
    width: 100%;
  }

  .kelas-tengah {
    width: 100%;
  }

  .inner {
    width: 90%;
  }

  .w40 {
    width: 50%;
  }

  .my5 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .gambar-tengah {
    width: 100%; 
    background-size: 100% 100%;
    margin-left: 0px;
  }

  .col7 {
    width: 100%;
  }

  .col5 {
    width: 100%;
  }

  .col11 {
    width: 85%;
  }

  .col1 {
    width: 15%;
  }

  .pb5 {
    padding-bottom: 25px;
  }

  #paketan {
    display: block;
  }

  #dapet {
    display: block;
  }

  .px5 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .pt5 {
    padding-top: 5px;
  }
} */